body {
    background-color: #d3d3d3;
    margin: 0;
}

.div1 {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: dotted black 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div2 {
    background-color: yellow;
    height: 50px;
    width: 50%;
}

.div3 {
    background-color: rgb(214, 118, 9);
    height: 100px;
    width: 30%;
}

.div4 {
    background-color: green;
    color: white;
    padding: 50px;
    margin: 50px 0px 0px 50px;
}